# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - aitravelplannar

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: testagenticplannar.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_D4A992345CFA474F932B6B21160D3821 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_64B2ECBE8F3A40CA98C98D8D025B999A }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: testagenticplannar.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_D4A992345CFA474F932B6B21160D3821 }}/travel-planner:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_0BADCA149944401296793CC7E3764259 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D87FC7DC43024187A0D1116FA24F5018 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_5498B9899CBA427192DDFC418C16F120 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'aitravelplannar'
          slot-name: 'Production'
          images: 'testagenticplannar.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_D4A992345CFA474F932B6B21160D3821 }}/travel-planner:${{ github.sha }}'
          